{% extends "layout.html" %}
{% block body %}
  {% if current_user.is_authenticated() %}
		{% from "_formhelpers.html" import render_field %}
			<form action="{{ url_for('add_post') }}" method=post>
				<dl>
					{{ render_field(form.title) }}
					{{ render_field(form.text) }}
					<dd><input type=submit value=Share>
				</dl>
			</form>
  {% endif %}
  <ul class=entries>
	{% from "_posthelpers.html" import render_post %}
  {% for entry in entries %}
		{{ render_post(entry) }}
  {% else %}
    <li><em>No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
